{% extends 'animais/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block login_and_registration %}
<div class="container px-4">
    <div class="row gx-5 justify-content-center">
        <div class="col-sm-6">
            <form method="POST" class="form-group">
                {% csrf_token %}
                <div class="container overflow-hidden text-center">
                    <div class="row gy-5">
                        {% comment %} <div class="col-sm-12">
                            <img 
                            src="{% static 'mistery_agency_logo.png' %}"
                            width="300" height="300"
                            class="img-fluid" 
                            alt="Your Logo">
                        </div> {% endcomment %}
                        <div class="col-sm-12">
                            {{form | crispy}}
                            <button style="width: 100%;" type="submit" name="register" value="True" class="btn btn-success">
                                Entrar
                            </button> <br><br>
                            <p><a href="/password-reset">Recuperar password?</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}